<div class="ui grid">
    <div class="four wide column"></div>
    <div class="eight wide column">
  
    <% if (locals.success) { %>
      <div class="ui success message">
        <p><%= success %></p>
      </div>
    <% } %>
  
    <% if (locals.error) { %>
      <div class="ui error message">
        <p><%= error %></p>
      </div>
    <% } %>
  
    </div>
  </div>